<% provide(:title, "無人販売営業") %>
<div class="row">
    <%= render 'layouts/sidemenu' %>
    <div class="col-9 pr-0">
        <table class="table table-sm table-hover">
            <thead class="table-success text-center">
                <th scope="col">№</th>
                <th scope="col">無人名🏷</th>
                <th scope="col">地図</th>
                <th scope="col">内容</th>
                <th scope="col">操作</th>
            </thead>
            <tbody>
                <% counter = 0 %>
                <% @mujins.each do |mujin| %>
                    <% counter += 1%>
                    <tr>
                        <td><%= counter%></td>
                        <td>
                            <%= link_to mujin.name, mujin_path(:id => mujin.id) %>
                        </td>
                        <td class="text-center">地図</td>
                        <td class="text-center"><%= mujin.mujin_items.count%>個</td>
                        <td class="text-center">
                            <a href=<%= edit_mujin_path(mujin) %> class="btn btn-outline-success btn-sm">編集</a>
                            <%= link_to "削除", mujin, method: :delete, data: {confirm: "削除したいですか？"}, class: "btn btn-outline-danger btn-sm" %>
                        </td>
                    </tr>
                <% end %>
                <tr>
                    <td class="text-center"><a href=<%= new_mujin_path %> class="btn btn-outline-info btn-sm">追加</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <a href=<%=farm_management_path %> class="btn btn-outline-secondary btn-block">🔙農業</a>
    </div>
</div>