<% provide(:title, "🍱無人販売") %>
<div class="dashboard">
<div class="row">
    <%= render 'layouts/sidemenu' %>
    <div class="col-9 pr-0">
        <div class="row">
            <div class="col-4 pr-0 mb-1">
                <div class="card" >
                    <div class="card-header">
                       <h5> 🌏 援農ﾎﾞﾗﾝﾃｨｱ、ｱﾙﾊﾞｲﾄ </h5>
                    </div>
                    <div class="card-body pt-0 pl-0 pb-0">
                        <%= image_tag("photos/bertani.png", alt: "news", id:"news", size: "227x224") %>
                    </div>
                    <div class="card-footer text-center">
                        <%= link_to "Enter", "#", class: "btn btn-outline-success btn-block" %>
                    </div>
                </div>
            </div>
            <div class="col-4 pr-0 mb-1">
                <div class="card">
                    <div class="card-header">
                        <h5>無人販売、ｺﾐｭﾆﾃｨ冷蔵庫</h5>
                    </div>
                    <div class="card-body pt-0 pl-0 pb-0">
                        <%= image_tag("photos/comfridge.png", alt: "news", id:"news", size: "227x224") %>
                    </div>
                    <div class="card-footer text-center">
                        <%= link_to "Enter", mujins_path, class: "btn btn-outline-success btn-block" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>