<% provide(:title, "🗂マスターメンテ") %>
<div class="dashboard">
<div class="row">
    <%= render 'layouts/sidemenu' %>
    <div class="col-3 pr-0">
        <div class="card" style="height: 20rem;">
            <div class="card-header text-center">
                <h2>👮🏻Role🕵🏼‍♀️🥷</h2>
            </div>
            <div class="card-body pt-0 pl-0">
                <%= image_tag("photos/role.png", alt: "news", id:"news", size: "270x320") %>
            </div>
            <div class="card-footer">
                <a href=<%=role_masters_path %> class="btn btn-outline-secondary btn-block">実行</a>
            </div>
        </div>
    </div>
    <div class="col-3 pr-0">
        <div class="card" style="height: 20rem;">
            <div class="card-header text-center">
                <h2>作業内容🧑🏾‍🌾</h2>
            </div>
            <div class="card-body pt-0 pl-0">
                <%= image_tag("photos/bertani.png", alt: "news", id:"news", size: "270x320") %>
            </div>
            <div class="card-footer">
                <a href=<%=job_masters_path %> class="btn btn-outline-primary btn-block">実行</a>
            </div>
        </div>
    </div>
    <div class="col-3 pr-0">
        <div class="card" style="height: 20rem;">
            <div class="card-header text-center">
                <h2>🫑🍆農作物</h2>
            </div>
            <div class="card-body pt-0 pl-0">
                <%= image_tag("photos/hasiltani.png", alt: "news", id:"news", size: "270x320") %>
            </div>
            <div class="card-footer">
                <a href=<%=good_masters_path %> class="btn btn-outline-success btn-block">実行</a>
            </div>
        </div>
    </div>
</div>