<% provide(:title, "🗂マスターメンテ") %>
<div class="dashboard">
<% menucount = 0 %>
<div class="row">
    <%= render 'layouts/sidemenu' %>
    <div class="col-9 pr-0">
        <div class="row">
            <% if current_user.admin %>
                <div class="col-4 pr-0 mb-1">
                    <div class="card" style="height: 20rem;">
                        <div class="card-header text-center">
                            <h2>🥷Features</h2>
                        </div>
                        <div class="card-body pt-0 pl-0">
                            <%= image_tag("photos/sbshq.png", alt: "news", id:"news", size: "270x320") %>
                        </div>
                        <div class="card-footer">
                            <a href=<%=feature_masters_path %> class="btn btn-outline-secondary btn-block">実行</a>
                        </div>
                    </div>
                </div>
            <% end %>
            
            <% if specific_user('00001') == true %>
                <div class="col-4 pr-0 mb-1">
                    <div class="card" style="height: 20rem;">
                        <div class="card-header text-center">
                            <h2>👮🏻Role🕵🏼‍♀️🥷</h2>
                        </div>
                        <div class="card-body pt-0 pl-0">
                            <%= image_tag("photos/profession.png", alt: "news", id:"news", size: "270x320") %>
                        </div>
                        <div class="card-footer">
                            <a href=<%=role_masters_path %> class="btn btn-outline-secondary btn-block">実行</a>
                        </div>
                    </div>
                </div>
            <% end %>

            <% if specific_user('00002') == true %>
                <div class="col-4 pr-0 mb-1">
                    <div class="card" style="height: 20rem;">
                        <div class="card-header text-center">
                            <h2>ユーザー</h2>
                        </div>
                        <div class="card-body pt-0 pl-0">
                            <%= image_tag("photos/role.png", alt: "news", id:"news", size: "270x320") %>
                        </div>
                        <div class="card-footer">
                            <a href=<%= user_index_path %> class="btn btn-outline-secondary btn-block">実行</a>
                        </div>
                    </div>
                </div>
            <% end %>

            <% if specific_user('00003') == true %>
                <div class="col-4 pr-0 mb-1">
                    <div class="card" style="height: 20rem;">
                        <div class="card-header text-center">
                            <h2>作業内容🧑🏾‍🌾</h2>
                        </div>
                        <div class="card-body pt-0 pl-0">
                            <%= image_tag("photos/bertani.png", alt: "news", id:"news", size: "270x320") %>
                        </div>
                        <div class="card-footer">
                            <a href=<%=job_masters_path %> class="btn btn-outline-primary btn-block">実行</a>
                        </div>
                    </div>
                </div>
            <% end %>

            <% if specific_user('00004') == true %>
                <div class="col-4 pr-0 mb-1">
                    <div class="card" style="height: 20rem;">
                        <div class="card-header text-center">
                            <h2>🫑🍆農作物</h2>
                        </div>
                        <div class="card-body pt-0 pl-0">
                            <%= image_tag("photos/hasiltani.png", alt: "news", id:"news", size: "270x320") %>
                        </div>
                        <div class="card-footer">
                            <a href=<%=good_masters_path %> class="btn btn-outline-success btn-block">実行</a>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>