<% provide(:title, "User role") %>
<div class="row">
    <%= render 'layouts/sidemenu' %>
    <div class="col-10 pr-0">
        <div class="row">
            <div class="col-6 text-left">
                <h3><%= @user.full_name %></h3>
            </div>
            <div class="col-6 text-right">
                <h3><%= @user.email %></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            <%= form_for(:updateuserrole, url: updateuserrole_path) do |f| %>
                <%= f.hidden_field :user_id, value: @user.id %>
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">№</th>
                                <th class="text-center" scope="col">🤵🏻Role👩🏻‍🏫👩🏼‍🚒</th>
                                <th class="text-center" scope="col">✅Check</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if @role_masters.any? %>
                                <% counter = 0 %>
                                <% @role_masters.each do |role_master| %>
                                    <%= f.hidden_field :role_master_id, value: role_master.id, multiple: true %>
                                    <% counter +=1 %>
                                    
                                    <tr class="mt-0 mb-0 pt-0 pb-0">
                                        <td class="text-center">
                                           
                                                <%= counter %>
                                        </td>
                                        <td><%= role_master.content %></td>
                                        <td class="text-center pt-0 pb-0">
                                            <h2>
                                                <% if role_master.role_users.any? %>
                                                    <% role_user = RoleUser.where("role_master_id=? AND user_id=?",role_master.id, @user.id).first %>
                                                    <% if role_user && role_user.active?  %>
                                                        <%= f.check_box :roleuser, :checked=> true, multiple: true %>
                                                    <% else %>
                                                        <%= f.check_box :roleuser, multiple: true %>
                                                    <% end %>
                                                <% else %>
                                                    <%= f.check_box :roleuser, multiple: true %>
                                                <% end %>
                                                
                                            </h2>
                                        </td>
                                        <td><%= link_to "Feature roles", user_feature_roles_path(:selected_user_id => @user.id, :role_master_id => role_master.id) , class: "btn btn-outline-warning btn-sm" %></td>
                                    </tr>
            
                                <% end %>
                                <tr>
                                    <td colspan='4' class="pb-0">
                            
                                        <%= f.submit "Update", class: "btn btn-outline-secondary btn-sm" %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <a href=<%=user_index_path %> class="btn btn-outline-secondary">🔙キャンセル</a>
                <%end%>
            </div>
        </div>
    </div>
</div>
