<header class="navbar navbar-default navbar-fixed-top shadow pt-1 rounded">
    
        <a class="navbar-brand" href="<%=root_path%>" id="application-title">
            <%= image_tag("logos/jisedailogo.png", alt: "kalpataru", size: "45x40", id:"kalpataru") %>E-I-E-I-農🎶
        </a>
        <nav>
            <ul class="nav">
                <li class="nav-item"><%= link_to "🏠ホーム", root_path, class: "nav-link" %></li>
            
                <% if controller.controller_name == "mujins" %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="<%= farm_management_path %>" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            🌽農業
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">👩🏻‍🌾 援農ﾎﾞﾗﾝﾃｨｱ</a></li>
                            <li><a class="dropdown-item" href="<%= mujins_path %>">ｺﾐｭﾆﾃｨ冷蔵庫、無人販売</a></li>
                        </ul>
                    </li>
                <% end %>
                <% if user_signed_in? %>    
                    <% if maintenance_user() == true || current_user.admin? %>
                        <li class="nav-item"><%= link_to "💽ﾏｽﾀﾒﾝﾃﾅﾝｽ", master_maintenance_path, class: "nav-link" %></li>
                    <% end %>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <%=current_user.full_name%>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">🤵🏻 ﾌﾟﾛﾌｧｲﾙ</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><%= link_to "⎋ Sign Out", destroy_user_session_path, class: "dropdown-item" %></li>
                            
                        </ul>
                    </li>

                    <a class="navbar-brand" href="#" id="user-identity">
                        <%= image_tag(current_user.avatar_url, alt: current_user.full_name, class: "rounded-circle", size: "40x40", id:"user-image") %>
                    </a>
                <% else %>
                    <%= link_to "📝 Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary" %>
                <% end %>
            </ul>
        </nav>
   
</header>