<!DOCTYPE html>
<html>
  <head>
    <title>F-Pulse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
        .flash-warning   { color: red; }
        .flash-notice  { color: blue; }
        .flash-success { color: green; }
    </style>
  </head>

  <body>
  <header class="navbar navbar-default navbar-fixed-top shadow pt-1 rounded">
      <div class="container">
      </div>
  </header>
    <% if flash.any? %>
      <% flash.each do |key, value| -%>
        <% if key == "alert"%>
          <% key = "warning" %>
        <% end %>
        <section class="alert alert-<%= key %>"><%= value.html_safe %></section>
      <% end -%>
    <% end %>
    <%= yield %>
  </body>
</html>
